/* Header style */

.headerPic {
  background: url('images/esra_background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.vertical-center {
  min-height: 100vh;
  min-height: 100vh;
 display: flex;
 align-items: center;
}

.box {
  border: 6px white solid;
  margin: 0 auto;
  width: 50%;
}
